* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#232630, #050506);
  min-height: 100vh;
  color: white;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}